<div class="welcome_logo_words">
  <h1>I Wet My Plants</h1>
</div>

<div class="welcome_logo">
  <%= image_tag("iwmp_logo.jpg", :alt => "I Wet My Plants Cartoon", :height => "250", :style => "border-radius: 50%;") %>
</div>

<div class="welcome_text">
  <h3>"I Wet My Plants is an app that helps you remember to water the plants in your garden, and send you a friendly reminder if you forget."</h3>
</div>

<div class="welcome_buttons">
  <%= link_to 'Login with Facebook', "/auth/facebook", class: "btn btn-outline-primary btn-lg" %>
</div>
