<h3>"I Wet My Plants is an app that helps you remember to water the plants in your garden, and send you a friendly reminder if you forget."</h3>

<%= link_to 'Register', register_path, class: "button" %>

<%= link_to 'Sign-In', login_path, class: "button" %>
