<h1><%= "Name: #{@plant.name }"%></h1>

<ul>
  <li><%= "Last Watered: #{@plant.last_watered.to_date}" %> </li>
  <li><%= link_to "Edit Plant", edit_plant_path(@plant) %></li>
  <li><%= link_to  "Kill Me"%></li>
</ul>
