<%= render 'layouts/nav' %>
<div class='api-info'>
  <h3 class='api-title'>API Information</h3>
  <p>This API can be used to communicate with external devices to water plants. The API will tell you which plants currently require
  water, as well as accept requests to reset water timers for plants. Using this you can create a fully automated watering
  system.</p>
  <p>After finding out which plants need water the API will send back a key with the ID of each plant that needs water.
  This key is valid for that plant only, is valid for one hour only, and cannot be tampered with. 
  These keys are not stored in the dateabase. 
  POST requests to water a plant are verified on the server side when received. If valid, they will reset the water counter for the plant.
  <h1>How to use API and setup watering hardware:</h1>
  <p>Hardware must be able to make GET and POST requests to integrate with the app.</p>
  <ul>
    <li>At the bottom of the '/plants' path find the hardware key next to Darksky icon</li>
    <li>Send a GET request to '/api/v1/plants' with the key as a parameter</li>
    <li>Example: GET '/api/v1/plants?key=0b6753e40fce'</li>
    <li>JSON will be returned with plants that need to be watered</li>
    <li>After watering the plant send a POST request with the plant's key from the GET request</li>
    <li>Example: POST '/api/v1/plants?/api/v1/plants?key=5.2019-02-20 22:24:00 UTC.52627c50b1d806ac07d3e052225d808be4216e36874589324f09eeadc8adbe95'</li>
    <li>Successful POST requests will receive a confirmation back from the server</li>
    <li>Unsuccessful POST requests will receive an error message back from the server</li>
  </ul>
  <p>Example return from GET request with plants that need watering:</p>
  <script src="https://gist.github.com/jpclark6/16235c8fc36019d5dc9ffbbea8987d7e.js"></script>
  <p>Note: if code snippet doesn't load please hit reload to view. Currently having trouble with this script from GitHub.</p>
</div>