/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "buttons.scss";
 @import "forms.scss";
 @import "garden.scss";
 @import "navbar.scss";
 @import "plant.scss";
 @import "welcome.scss";
 @import "footer.scss";

 font {
   color: #FE5F55;
 }
 h3 {
   text-shadow: 2px 2px 5px #000;
   font-size: 40px;
 }
body {
  background-image: image-url('city_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FE5F55;
  font-family: 'Kalam', cursive;
}
#hardware-key {
  color: darkblue;
  background-color: rgba(255,255,255,0.4);
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
} 
