/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 font {
   color: #FE5F55;
 }

 h3 {
   text-shadow: 2px 2px 5px #000;
   font-size: 40px;
 }
body {
  background-image: image-url('city_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FE5F55;
  font-family: 'Kalam', cursive;
}

.btn {
  border: 2px solid #FE5F55;
  background-color: #FE5F55;
  color: white;
  padding: 14px 78px;
  font-size: 26px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:hover{
  border: 2px solid #FE5F55;
  background-color: white;
  color: #FE5F55;
}

.welcome_buttons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.welcome_text {
  text-align: center;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.logo_one {
  text-align: center;
  padding-bottom: 30px;
}
.logo_two {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 500px;
  text-shadow: 1px 1px 5px #000;
}
