html {
  background-color: #91C863;
}

.garden-body {
  margin: auto;
  text-align: center;
}
.garden-header {
  font-size: 330%;
  text-shadow: 1px 1px 5px #000;
}
.add_plant {
  padding: 20px;
  .btn {
    border: 1px solid black;
  }
}
.garden {
  padding-top: 20px;
  max-width: 850px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid white;
  border-radius: 20px;

  th {
    font-size: 27px;
    color: #1c64a8;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding-left: 30px;
  }
  table {
    font-size: 150%;
    color: #1c64a8;
  }
  .name {
    text-decoration: underline;
    color: #FE5F55;
  }
  .name:hover {
    color: #1c64a8;
  }
  .green {
    color: #59943a;
    text-shadow: 1px 1px 1px #000;
    font-size: 27px;
  }
  .yellow {
    color: #fef164;
    text-shadow: 1px 1px 1px #000;
    font-size: 27px;
  }
  td {
    color: #FE5F55;
    text-shadow: 1px 1px 1px #000;
    font-size: 27px;
  }
  i {
    color: #1871c2;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000;
  }
  i:hover {
    color: #FE5F55;
  }
}

.current-weather {
  padding-left: 30px;
  margin-top: 20px;
  text-align: center;
  h5 {
    font-size: 30px;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  h4 {
    padding: 10px;
  }
  img {
    border: 1px solid white;
  }
}

.garden {
  margin: 0 80px 0 0;
}

.garden-name {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size: 42px;
}
.add_plant {
  width: 100%;
  text-align: center;
}

.plant button {
  background-color: transparent;
  border: none;
}

 font {
   color: #FE5F55;
 }
 h3 {
   text-shadow: 2px 2px 5px #000;
   font-size: 40px;
 }
body {
  background-image: image-url('city_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FE5F55;
  font-family: 'Kalam', cursive;
}
.api-info {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  max-width: 80%;
  padding: 0 40px;
  padding-bottom: 25px;
  margin: auto;
  color: darkblue;
  p {
    font-size: 140%;
  }
  li {
    padding: 4px;
    font-size: 140%;
  }
}
.api-title {
  text-align: center;
  color: #FE5F55;
}