nav {
  width: 100%;
}

.logo_words {
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-shadow: 1px 1px 5px #000;
}

nav {
  img {
    padding-top: 13px;
    padding-left: 10px;
  }
  a {
    padding: 5px 15px;
    margin: 5px 5px;
    font-size: 28px;
    border: 0px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .3);
    font-weight: bold;
  }
  .home-img-link {
    background-color: rgba(255, 255, 255, 0);
  }
  .home-img-link:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  a:hover {
    background-color: rgba(255, 255, 255, .8);
    text-decoration: none;
  }
  .home-link {
    margin-left: 50px;
  }
}