.plant {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.plant_container {
  width: 50%;
  text-align: center;
  color: #FE5F55;
  margin: 2rem auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid white;
  border-radius: 20px;
}
.button-group {
  padding: 20px;
}
.hardware-key {
  display: inline-block;
  width: 300px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 15px;
  color: darkblue;
  p {
    margin: 0;
    padding: 4px 7px;
  }
}