.welcome_buttons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.welcome_text {
  text-align: center;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.welcome_logo {
  text-align: center;
  padding-bottom: 30px;
}
.welcome_logo_words {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 500px;
  text-shadow: 1px 1px 5px #000;
}

