<nav class='menu'>
  <ul>
    <li><%= link_to 'Dashboard', dashboard_path %></li>
    <li><%= link_to 'Profile', dashboard_path %></li>
    <li><%= link_to 'Water All Plants', dashboard_path %></li>
    <li><%= link_to 'Logout', dashboard_path %></li>
  </ul>
</nav>
